%center-display {
    flex-direction: row;
    align-items: center
}
.card {
    margin-bottom: 1.5rem;
    margin-right: 15px;
    margin-left: 15px;
    text-align: right;
    flex: 0 0 22%;
    @media (max-width: 1180px){
        flex: 0 0 29%;
        max-width: 29%;
    }
    @media (max-width: 1024px){
        flex: 0 0 29.9%;
        max-width: 30%;
    }
    max-width: 25%;

    border-radius: 0.3rem;
    box-shadow: var(--card-shadow-2);
    .card_placeholder {
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-weight: 400;
        color: var(--color-primary-dark-1);
        text-align: center;
        vertical-align: middle;
        border-radius: 8px;
        user-select: none;
        background-color: transparent;
        font-size: 1rem;
        line-height: 1.5;
        overflow: hidden;
    }
    .card_header {
        position: relative;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .card_cover {
        position: relative;
        height: 178px;
        max-height: 100%;
        overflow: unset;
        .card_img {
            height: inherit;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
        .card_feature {
            margin: 10px;
            white-space: nowrap;
            padding: 2px 5px;
            display: inline-flex;
            position: absolute;
            color: var(--color-white);
            right: 0;
            border-radius: 50rem;
            background-color: #0786e1 !important;
        }
        .card_view_placeholder {
            position: absolute;
            align-items: center;
            display: inline-flex;
            height: 20px;
            right: 0;
            margin: 10px;
            bottom: 0;
            padding: 5px;
            margin-top: auto;
            border-radius: 8px;
            background: var(--color-primary-dark);
            .card_view_icon {
                margin-top: 0.2rem;
            }
        }
    }
    .card_detail {
        display: flex;
        flex-wrap: nowrap;
        padding: 10px;
        flex: 1 1 0%;
        flex-direction: column;
        color: var(--color-gray-dark);

        .card_title {
            line-height: 24px;
            margin-bottom: 12px;
            color: var(--color-gray-light);
             flex-direction: row;
            display: flex;
            margin-bottom: 12px;
            align-items: center;
            .card_title_text {
                margin: 0px 10px;
            }
            .card_title_seperarator {
                height: 10px;
                width: 1px;
                background: var(--color-gray-light-1);
            }
        }
        .card_price {
            margin-bottom: 10px;
           @extend %center-display;                   
            .card_price_number {
                line-height: 24px;
                margin-left: 8px;
            }
            .card_price_discount {
                color: var(--color-gray-dark-1);
                margin-left: 8px;
                text-decoration: line-through;
                line-height: 21px;
            }
        }
        .card_price_type {
            align-items: center;
            margin-bottom: 10px;
            .card_price_type_inner {
                padding-left: 0.5rem;
                align-items: center;
                border: 1px solid var(--white);
                line-height: 17px;
            }
        }

        .card_digest {
            background: var(--color-gray-light-2);
            height: 30px;
            border-radius: 0.2rem;
            align-items: center;
            .card_digest_single {
                flex: 1 1 0%;
            }
            .card_digist_seperator_dot {
                background-color: var(--color-gray-light-3);
                border-radius: 50rem;
                width: 4px;
                height: 4px;
            }
        }
        .card_Background_icon {
            justify-content: center;
            display: inline-flex;
            padding: 3px;
            border-radius: 50rem;
            margin-left: 0.5rem;
            align-items: center;
        }
        .card_location {
            height: 32px;
            padding: 10px;            
          @extend %center-display;
            .card_location_text {
                color: var(--color-gray-3);
            }
        }
    }
}

@media (max-width: 600px) {
    .card {
        flex: auto;
        max-width: 100%
    }
}
