@font-face {
  font-family: 'BYekan';
  src: url("../public/fonts/YekanBakh/YekanBakh-Medium.ttf"),

}
@font-face {
  font-family: 'BYekanNumber';
  src: 
  url("../public/fonts/YekanBakh/yekannumbers-regular.ttf")

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: BYekan,BYekanNumber;
  direction: rtl;
}
:root {
  --color-primary-light: #9d9d9d;
  --color-primary-dark: #31343e;
  --color-primary-dark-1: #212529;
  --color-gray-dark: #25282b;
  --color-gray-light: #52575c;
  --color-gray-dark-1: #a0a4a8;
  --color-gray-light-2: #f6f6f6;
  --color-gray-light-1: #ececee;
  --color-gray-light-3: #dbdde0;
  --color-gray-3: #8e9098;
  --color-red: #f03a47;
  --color-primary-yellow: #fff8ec;
  --color-yellow-dark: #ffbc42;
  --color-primary-blue: #e7f5fe;
  --color-blue-dark: #0786e1;
  --color-primary-green: #e3f3da;
  --color-green-dark: #71c544;
  --color-white: #f8f9fa;
  --card-shadow: rgb(0 0 0 / 8%);
  --card-shadow-2: var(--card-shadow) 0px 2px 24px;
}
.text-10 {
  font-size: 10px;
}
.text-12 {
  font-size: 12px;
}
.text-14 {
  font-size: 14px;
}
.text-16 {
  font-size: 16px;
}
.text-white {
  color: var(--color-white);
}
.d-flex {
  display: flex;
}
.py-1{
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.mr-0 {
  margin-right: 0px !important;
}
.mr-1 {
  margin-right: 0.25rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.font-weight-bold {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
a {
  color: inherit;
  text-decoration: none;
}
.bg-gray{
  background: var(--color-gray-3);

}
.bg-red{
  background:var(--color-red);
}
.yellow{
  background-color: var(--color-primary-yellow);
  color: var(--color-yellow-dark);
}
.blue{
  background-color: var(--color-primary-blue);
  color:var(--color-blue-dark)
}
.green{
  background-color: var(--color-primary-green);
  color: var(--color-green-dark);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@media (min-width: 768px){
  .text-md-12 {
    font-size: 12px;
}
}
